<div class="app">
    <div class="row">
        <div class="top col-md-offset-1">
            <h4>Schedule</h4>
        </div>
        <div class="col-md-8">
            <div *ngFor="let i of days" class="col-sm-2">
                <label class="bold-back" (click)="selectperiod(i)">{{i}}</label>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 t">
        <div class="inner-outlet scroll-pit">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Specialty</th>
                        <th>Physician Name</th>
                        <th>Day</th>
                        <th>Time</th>
                        <th>Updated Date</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody class="scroll-pit">
                    <tr *ngFor="let b of schedule ">
                        <td>{{b.owner.specialty}}</td>
                        <td>{{b.owner.name}}</td>
                        <td>{{b.day}}</td>
                        <td>{{b.time}}</td>
                        <td>{{b.updatedAt | date}}</td>
                        <td><a class="table-button" (click)="updateSchedule(b.id)">Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>