<div class="app">
    <div class="row">
        <div class="top col-md-offset-1">
            <h4>Schedule</h4>
        </div>
        <div class="col-md-8">
            <div *ngFor="let i of days" class="col-sm-2">
                <label class="bold-back" (click)="selectperiod(i)">{{i}}</label>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 t">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Specialty</th>
                    <th>Physician Name</th>
                    <th>Day</th>
                    <th>Time</th>
                    <th>Updated Date</th>
                    <th>Actions</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let b of schedule ">
                    <td>{{b.specialty}}</td>
                    <td>{{b.name}}</td>
                    <td>{{b.day}}</td>
                    <td>{{d.time}}</td>
                    <td>{{b.updatedAt | date}}</td>
                    <td><a class="table-button" (click)="updateSchedule(b.id)">Edit</a>/td>
                </tr>
            </tbody>
        </table>

    </div>
</div>