<aside *ngIf="showSideBar" class="aside aside-chat">
    <div class="aside-header">
        <h5>Support Desk</h5>
    </div>
    <div class="message-column">
        <div class="message-box">
            <div class="message-text">
                <p>Whether you or your loved one is encountering the natural decrease in mobility Whether you or your loved one is encountering the natural decrease in mobility Whether you or your loved one is encountering the natural decrease in mobility</p>
            </div>
            <div class="row message-footer">
                <div class="col-md-8 message-user">
                    <img class="img-circle" src="/src/images/default-user.png" alt="">
                    <p>Telwa gang</p>
                </div>
                <div class="col-md-4 message-time">
                    <p>12m ago</p>
                </div>
            </div>
        </div>
        <div class="">
        </div>
    </div>
</aside>