<div class="app">

    <div class="row">
        <div class=" top col-md-offset-1">
            <h4>Appointments</h4>
        </div>
        <div>
            <div class="col-xs-3  col-md-offset-1 col-sm-3 col-md-3 col-lg-3 p">
                <h4>2</h4>
                <p>Today</p>
            </div>
            <div class="col-xs-3 col-md-offset-1 col-sm-3 col-md-3 col-lg-3 p">
                <h4>2</h4>
                <p>Last week Today</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-offset-1 col-md-3 col-lg-2 p">
                <h4>2</h4>
                <p>Last week </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="top col-md-offset-1">
            <h4>Schedule</h4>
        </div>
        <div>
            <div class="col-xs-3 col-sm-3 col-md-offset-1 col-md-3 col-lg-3 p">
                <h4>6</h4>
                <p>Physicians with Appointments Today</p>
            </div>
            <div class="col-xs-3 col-md-offset-1 col-sm-3 col-md-3 col-lg-3 p">
                <h4>2</h4>
                <p>Physicians on consultation Today</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-offset-1 col-md-2 col-lg-2 p">
                <h4>3</h4>
                <p>Free birds</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 p t">
            <div class="top">
                <div class="col-md-4">
                    <h6>Appointments Overall</h6>
                </div>
                <div class="col-md-4 col-md-offset-4">
                    <select class="form-control" (change)="updatetime($event.target.value)">
                        <option *ngFor="let t of times" [value]="t">{{t}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="bottom">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 t">
                    <h4>20%</h4>
                    <p>Miss Apppointments</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 t">
                    <h4>70%</h4>
                    <p>Waiting Time</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 t">
                    <h4>10%</h4>
                    <p>Physicians Duration accuracy</p>
                </div>
            </div>
        </div>
    </div>
</div>