<div class="row">
    <div class="col-sm-3">
        <div class="">
            <label>Select Specialty</label>
            <select class="form-control">
                <option *ngFor="let s of days" [value]="s">{{s}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Physician name</th>
                    <th>Duration</th>
                    <th>Adjustment</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody class="scroll-pit">
                <tr *ngFor="let s of duration ">
                    <td>{{s.name}}</td>
                    <td>{{s.duration}}</td>
                    <td><input class="box form-control" type="number" [(ngModel)]="s.newduration" placeholder="Change duration" (keyup.enter)="changeValue($event,s)"></td>
                    <td>{{s.date | date:"MM/dd/yy"}}</td>
                </tr>
            </tbody>
        </table>
    </div>