<div class="app">
    <h1>personal</h1>

    <ul class="nav navbar-nav">
        <li class="active">
            <a routerLink="/personal">View All</a>
        </li>
        <li>
            <a routerLink="physician">Physician</a>
        </li>
        <li>
            <a routerLink="schedule">Schedule</a>
        </li>
        <li>
            <a routerLink="adjustment">Adjustment</a>
        </li>
    </ul>

    <div class="inner-outlet scroll-pit">
        <router-outlet></router-outlet>
    </div>
</div>