<div class="physician">
    <form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="physician">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>
        <span>License Number</span>
        <input type="number" class="form-control" placeholder="License Number" formControlName="licenseNo">
      </label>
                </div>
                <div class="form-group">
                    <label>
        <span>First Name</span>
        <input type="text" class="form-control" placeholder="First Name" formControlName="firstName">
      </label>
                </div>
                <div class="form-group">
                    <label>
        <span>Middle Name</span>
        <input type="text" class="form-control" placeholder="Middle Name" formControlName="middleName">
      </label>
                </div>
                <div class="form-group">
                    <label>
        <span>Last Name</span>
        <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName">
      </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>
        <span>Password</span>
        <input type="password" class="form-control" placeholder="password" formControlName="password">
      </label>
                </div>
                <div class="form-group">
                    <label>
        <span>Comfirm Password</span>
        <input type="password" class="form-control" placeholder="password" formControlName="comfirmpassword">
      </label>
                </div>
                <div class="form-group">
                    <label>
        <span>Registration Number</span>
        <input type="text" class="form-control" placeholder="Registration Number" formControlName="registrationNo">
      </label>
                </div>
                <div class="form-group">
                    <label>
          <span>Email address</span>
          <input type="email" class="form-control" placeholder="Your email address" formControlName="email">
        </label>
                </div>
                <div class="form-group">
                    <label>
        <span>Specialty</span>
        <select class="form-control" placeholder="Your full name" formControlName="specialty">
            <option *ngFor="let s of days" [value]="s">{{s}}</option>
        </select>
      </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <h3>SCHEDULE</h3>
                <div *ngFor="let i of days" class="col-sm-2">
                    <label>{{i}}</label>
                    <select class="form-control">
                    <option value="default">select</option>
                    <option *ngFor="let v of times" [value]="v">{{v}}</option>
                </select>
                </div>
            </div>
            <br>
            <div class="col-md-8">
                <div class="form-group">
                    <button type="submit" [disabled]="!physician.valid" class="btn btn-primary">Register Physician</button>
                </div>
            </div>
        </div>

    </form>


</div>