<div class="">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>No</th>
                <th>Type</th>
                <th>Physician</th>
                <th>Time Available</th>
                <th>Duration</th>
                <th>Date</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of physicians " [class.selected]="isSelected(item)" (click)="onSelect(item)">
                <td>{{item.id}}</td>
                <td>
                    {{item.type}}
                </td>
                <td>
                    {{item.physician}}
                </td>
                <td>
                    {{item.available}}
                </td>

                <td>
                    {{item.duration}}
                </td>
                <td>
                    {{item.time}}
                </td>
            </tr>
        </tbody>
    </table>
</div>