<nav *ngIf="showBar" class="navbar navbar-left-fixed">

    <ul class="nav  nav-stacked">
        <li class="">
            <a routerLink="/home">Dashboard</a>
        </li>
        <li>
            <a routerLink="/schudele">Schedule</a>
        </li>
        <li>
            <a routerLink="/appointment">Appointments</a>
        </li>

        <li>
            <a routerLink="/personal">Personal</a>
        </li>
        <li>
            <a routerLink="/account">Account</a>
        </li>
        <li>
            <a routerLink="/settings">Settings</a>
        </li>
    </ul>

</nav>