<nav *ngIf="showNavBar" style="-webkit-app-region: drag" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href=""><span class="glyphicon glyphicon-arrow-left" aria-label="true"></span> H pluss</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-state">
            <li *ngFor="let item of navlist "><a [routerLink]="item.path" routerLinkActive="active">{{item.name}}</a></li>

        </ul>

        <ul class="nav navbar-nav navbar-right">

            <li *ngIf="shouldspin">
                <a class="navbar-notify"></a>
            </li>
            <li><a class="navbar-user" (click)="logout()" routerLinkActive="active">
                {{user}}</a></li>
            <li class="divider"></li>
            <li><a routerLink="/search" class="icon"><span class="glyphicon glyphicon-search" aria-label="true"></span></a></li>
            <li><a routerLink="/notification" class="icon" data-bubble="3"><span class="glyphicon glyphicon-bell" aria-label="true"></span></a></li>
            <li><a routerLink="/history" class="icon"><span class="glyphicon glyphicon-time" aria-label="true"></span></a></li>
            <li><a routerLink="/profile" class="icon"><span class="glyphicon glyphicon-user" aria-label="true"></span></a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>