* {
    text-rendering: optimizeLegibility;
}

body {
    background-color: #f2f2f2;
    overflow: hidden;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

.navbar-state {
    margin-left: 5rem;
}

.navbar-right>li {
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar-right>li:last-child {
    margin-left: 1rem;
    margin-right: 2rem;
}

.navbar-right>li:first-child {
    margin-right: 0.4rem;
}

.navbar-right>li>.icon {
    padding-top: 39%;
    font-size: 10pt;
}

.navbar-right>li>.navbar-user {
    padding-top: 25%;
}

.divider {
    width: 3px;
    background-color: #f2f2f2;
}

.navbar-user {
    color: #2DD1AC !important;
}

.navbar-right>li>a[data-bubble]:after {
    content: attr(data-bubble);
    position: absolute;
    top: 1em;
    right: 0.4em;
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2em;
    text-align: center;
    font-weight: 400;
    color: #f2f2f2;
    background-color: #2DD1AC;
    -webkit-border-radius: 4em;
    -moz-border-radius: 4em;
    border-radius: 4em;
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-right>li>a[data-bubble]:after {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-brand>.glyphicon {
    margin-right: 0.4em;
}

.navbar-left-fixed {
    position: fixed !important;
    left: 0px;
    top: unset;
    height: 100%;
    width: 150px;
    background-color: #4E546B;
}

.nav-stacked {
    text-align: center;
}

.nav-stacked>li {
    height: initial;
}

.nav-stacked>.active>a {
    color: #2DD1AC;
}

.nav-stacked>.active>a:hover {
    color: #21BB98;
}

.nav-stacked>li:first-child {
    margin-top: 28vh;
}

.nav-stacked>li>a {
    padding: 4px 0px;
    color: #A8B7C6;
}

.nav-stacked>li>a:hover {
    color: #f2f2f2;
}

.aside {
    position: fixed;
    top: 4.4em;
    right: 0px;
    height: 94vh;
    width: 274px;
    background-color: #D8D8D8;
}

.aside-header {
    width: inherit;
    text-align: center;
    border-bottom: 3px solid #f2f2f2;
}

.aside-header h5 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.message-box {
    padding: 10px;
    border-bottom: 2px solid #f2f2f2;
}

.message-box:hover {
    background-color: #f2f2f2;
}

.message-text>p {
    display: -webkit-box;
    overflow: hidden;
    height: 50px !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.4;
}

.message-text {
    padding: 2%;
    margin-bottom: 2px;
}

.message-box>.row {
    margin: 0px;
}

.message-user>.img-circle {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 6%;
}

.message-user>p {
    margin-top: 2%;
}

.message-user>p,
.message-user>.img-circle {
    vertical-align: middle;
}

.message-time>p {
    margin-top: 6%;
    color: rgba(61, 61, 79, 0.4);
}

.app {
    position: absolute;
    left: 155px;
    top: 4.4em;
    width: 65.1%;
    padding: 1%;
}

.scroll-pit {
    overflow: auto;
    overflow-x: hidden;
    height: 72vh;
}

.inner-outlet {
    clear: both;
}

pyhsician>button {
    margin-top: 10px;
}

.table {
    background-color: #f2f2f2;
}

.table>thead {
    background-color: #dadada;
}

.table>tbody {
    background-color: #f2f2f2;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: transparent;
    box-shadow: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #e7e7e7;
}

.p {
    background-color: #fff;
    text-align: center;
}

.t {
    margin-top: 25px;
}

.top {
    margin-top: 15px;
}

.top h4 {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.bold-back {
    background-color: #4E546B;
}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}