<div class="app">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 p t">
            <div class="top">
                <div class="col-md-4">
                    <h6>Appointments Overall</h6>
                </div>

            </div>
            <div class="bottom">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 t">
                    <h4>{{num}}</h4>
                    <p>Appointments</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 t">
                    <h4>20%</h4>
                    <p>Arrived</p>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 t">
                    <h4>5%</h4>
                    <p>Missed Slot</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 t">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Arrived</th>
                    <th>Specialty</th>
                    <th>Patient Name</th>
                    <th>Doctors Name</th>
                    <th>Appointment Id</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let b of appointment">
                    <td>{{b.time}}</td>
                    <td>{{b.arrived}}</td>
                    <td>{{b.schedule.specialty}}</td>
                    <td>{{b.patientId.firstName}} {{b.patientId.lastName}}</td>
                    <td>{{b.schedule.name}}</td>
                    <td>{{b.id}}</td>

                </tr>
            </tbody>
        </table>

    </div>
</div>